* {
  font-family: DejaVu Sans Mono, monospace;
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  background: url("/static/img/background.png") no-repeat fixed center/cover;
  overflow: hidden;
  resize: none;
}

.login {
  width: 400px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.3);
  margin: 100px auto;
}

.login h1 {
  text-align: center;
  color: #5b6574;
  font-size: 24px;
  padding: 20px 0;
  border-bottom: 1px solid #dee0e4;
}

.login form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.login form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #00A7E1;
  color: #ffffff;
}

.login form input[type="password"],
.login form input[type="text"] {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}

.login form input[type="submit"],
#toggle-button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #00A7E1;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}

.title {
  color: white;
  text-align: center;
  font-size: 60px;
}

.dynamic-card {
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 0.4rem;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0 0 60px #1f4c65;
  width: calc(33.333% - 20px);
  min-width: 200px;
  text-align: center;
}

.check_for_updates {
  width: 100px;
  height: 100px;
  background: url('images/dashboard_images/check_for_updates.svg') no-repeat center/cover;
  border: none;
  cursor: pointer;
}

.progress-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 8px;
  margin-top: 10px;
  height: 25px;
  position: relative;
}

.progress-bar {
  height: 100%;
  background-color: #76c7c0;
  width: 0;
  border-radius: 8px;
  transition: width 0.4s ease;
}

.navbar {
  width: 100%;
  background-color: #1e1e1e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.container {
  margin-top: 100px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.navbar-title {
  font-size: 28px;
  font-weight: bold;
}

.container-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.dynamic-card h3 {
  font-size: large;
}

.RebootButton,
.documentation {
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  display: inline-block;
}

.RebootButton {
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  color: #FFFFFF;
  font-size: 18px;
}

.RebootButton:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.RebootButton:active {
  box-shadow: none;
  transform: translateY(0);
}

.documentation {
  background-color: #00A7E1;
  color: white;
  font-size: 16px;
}

.documentation:hover {
  background-color: #007BB3;
}

.documentation:active {
  background-color: #005F87;
}

#cpuCanvas {
  border-radius: 50%;
  background-color: #f0f0f0;
  margin-right: 20px;
  display: inline-block;
}

#cpuPercentage {
  font-size: 24px;
  vertical-align: middle;
  font-weight: bold;
}

.table-containers {
  text-align: center;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
}

.table-containers th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: #185875;
}

.table-containers td {
  font-weight: normal;
  font-size: 1em;
  box-shadow: 0 2px 2px -2px #0E1119;
  word-wrap: break-word;
}

.table-containers tr:nth-child(odd) {
  background-color: #323C50;
}

.table-containers tr:nth-child(even) {
  background-color: #2C3446;
}

.table-containers th {
  background-color: #1F2739;
}

.table-containers td:first-child {
  color: #FB667A;
}

.table-containers tr:hover {
  background-color: #464A52;
  box-shadow: 0 6px 6px -6px #0E1119;
}

.table-containers td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  transition: all 0.4s linear;
}

@media (max-width: 800px) {
  .table-containers td:nth-child(4),
  .table-containers th:nth-child(4) {
    display: none;
  }
}
